
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Welcome, to my website</h2>

@{
    if (@TempData["msg"] != null)
    {
        <script>
            alert('@TempData["msg"]')
        </script>
    }
}