:root {
  --color--1: #c71585;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 1050px;
  height: 800px;
  margin: 0 auto;
  background-image: url(images_Lab04/images2/bg.jpg);
  background-size: 100% 350px;
  background-repeat: no-repeat;
}

/* ----------------------------------- Header ---------------------------------- */
#header {
  height: 280px;
  text-align: center;
  float: left;
  display: table-cell;
}

#header .header_navbar_left {
  width: 290px;
  height: 280px;
  float: left;
  color: white;
}

.header_navbar_left h2 {
  padding: 10px;
  margin: 10px;
}

.header_navbar_left ul {
  float: right;
  width: 230px;
  margin-top: 20px;
}

.header_navbar_left li {
  background-image: url(images_Lab04/images2/links-bg.jpg);
  background-repeat: no-repeat;
  list-style-type: none;
  width: 230px;
  height: 36px;
  padding: 10px;
  margin: 2px 0;
}

.header_navbar_left a {
  color: white;
  text-decoration: none;
}

.header_navbar_left a:hover {
  color: var(--color--1);
}

#header .header_img_right {
  width: 758px;
  height: 280px;
  float: right;
  background-image: url(images_Lab04/images2/header.png);
  background-repeat: no-repeat;
  background-size: 760px 280px;
}
.text_header {
  margin-top: 20%;
  width: 760px;
  height: 60px;
  display: flex;
  justify-content: center;
}
.text_header p {
  background-color: rgba(255, 255, 255, 0.4);
  border: 2px solid orange;
  text-align: left;
  width: 450px;
  padding: 10px;
  font-weight: bold;
  font-style: italic;
}

/* ---------------------------------- Content ---------------------------------- */
#content {
  height: 460px;
  display: table-cell;
}

#content .content_left {
  width: 290px;
  height: 460px;
  float: left;
  text-align: center;
}

b {
  color: var(--color--1);
}

.content_left h4 {
  padding: 10px;
  text-align: center;
}

.content_left h5 {
  text-align: left;
  margin-left: 45px;
}

.content_left p {
  text-align: left;
  margin-left: 45px;
}
.content_left a {
  color: var(--color--1);
  float: right;
  margin-right: 5px;
}

#content .content_right {
  width: 758px;
  height: 460px;
  float: right;
  border-left: 2px dotted #000;
  border-right: 2px solid silver;
}

.content_right_header {
  height: 60px;
  width: 100%;
}

.content_right_header img {
  padding: 8px;
  float: left;
}

.content_right_header h3 {
  display: inline;
  float: left;
  padding: 10px;
  margin: 8px;
}

.content_right_header img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  20% {transform: translate(-3px, 0px) rotate(1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg);}
  50% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

.content_right_article {
  height: 200px;
  width: 100%;
}

.content_right_article .article_img {
  width: 310px;
  height: 200px;
  float: left;
  margin-left: 10px;
}

.article_img img {
  width: 310px;
  height: 200px;
  transition: 0.5s;
}

.article_img img:hover {
  transform: scale(1.5);
}

.content_right_article .article_text {
  width: 398px;
  height: 100%;
  float: left;
}

.article_text p {
  width: 430px;
  margin-left: 5px;
  line-height: 1.5em;
  font-size: 15px;
}

.content_right_footer {
  /* background-color: cornsilk; */
  width: 100%;
  height: 200px;
  display: inline-block;
  margin-left: 5px;
}

.content_right_footer .footer_text {
  width: 508px;
  height: 100%;
  float: left;
  margin-left: 5px;
}

.footer_text p {
  text-indent: 61%;
  float: right;
  font-size: 15px;
  line-height: 1.5em;
}

.content_right_footer .footer_link {
  width: 190px;
  height: 200px;
  float: left;
}

.footer_link li {
  width: 230px;
  list-style-type: none;
  border-bottom: 2px dotted #000;
  /* margin-bottom: 5px; */
  padding-bottom: 7px;
}

.footer_link a {
  color: var(--color--1);
}

/* ------------------------------------------ Footer --------------------------------- */
#footer {
  background-color: #000;
  color: #fff;
  clear: both;
  height: 60px;
  border-top: 5px solid #0099ff;
  display: block;
}

.navbar_bottom ul {
  list-style-type: none;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.navbar_bottom ul li {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.4s;
}

.navbar_bottom ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 22px;
  padding: 10px;
  height: 40px;
}

.navbar_bottom ul li:before {
  content: "|";
  position: absolute;
  left: 0;
  top: 0;
}

.navbar_bottom ul li:first-child:before {
  content: "";
}

.navbar_bottom ul li a:hover {
  color: var(--color--1);
}
