* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ecf0f3;
    outline: none;
    font-family: sans-serif;
}

.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightcoral;
}

.cal {
    box-shadow: 6px 6px 13px #fff, 6px 6px 13px rgba(0, 0, 0, 0.16);
    border-radius: 28px;
    padding: 16px;
    display: grid;
    grid-template-columns: repeat(4, 66px);
    background-color: lightgreen;
}

input {
    grid-column: span 4;
    height: 68px;
    width: 258px;
    box-shadow: inset -6px -6px -13px #fff,
        inset 6px 6px 13px rgba(0, 0, 0, 0.16);
    background-color: #ecf0f3;
    border: none;
    border-radius: 32px;
    color: rgb(26, 25, 25);
    text-align: end;
    margin: 40px 0 30px 0;
    padding: 20px;
    font-size: 40px;
}

button {
    box-shadow: inset 6px 6px 13px #fff, 6px 6px 13px rgba(0, 0, 0, 0.16);
    background-color: #ecf0f3;
    border: none;
    border-radius: 32px;
    width: 60px;
    height: 30px;
    margin: 10px;
    font-weight: bold;
    font-size: 20px;
}
